<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat</title>
    <link rel="stylesheet" href="css/main.css" />
    <script defer src="js/chat.js"></script>
  </head>
  <body>
    {% include ('layout/menu.twig') %}
    <main>
      <div class="join">
        <div class="form">
          <h2>Rejoindre le chat</h2>
          <div class="form-input">
            <label for="pseudo">Ton pseudo :</label>
            <input type="text" name="pseudo" id="pseudo" />
          </div>
          <div class="form-input">
            <button id="btnJoin">Rejoindre</button>
          </div>
        </div>
      </div>
      <div class="messages disable">
        <div id="form">
          <input id="input" autocomplete="off" /><button id="btnSend">
            <img src="icons/send.svg" />
          </button>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="socket.io/socket.io.js"></script>
  </body>
</html>
