<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="view-transition" content="same-origin" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    {% include ('layout/menu.twig') %}
    <main>
      <div class="lorem-ipsum">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          molestie, magna vehicula dictum dictum, urna erat facilisis nunc,
          euismod tempor felis ex aliquet justo. Vestibulum vehicula tellus at
          diam tristique rutrum. Praesent quis imperdiet magna. Nullam sit amet
          porta ligula. Curabitur finibus felis ac ullamcorper tempor. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit. Ut vel est dapibus,
          posuere tellus non, mattis velit. Sed aliquam a elit eu faucibus.
          Donec varius eros et enim ornare eleifend. Morbi cursus pretium
          vestibulum. Quisque suscipit at magna at hendrerit. Maecenas
          vestibulum sed quam ut placerat. Pellentesque fringilla dolor vitae
          diam rutrum, ac dignissim sem consectetur. In fermentum tellus non
          lacinia pretium. In sed molestie est, id posuere nulla. Curabitur at
          pretium ligula.
        </p>
        <br />
        <p>
          Praesent quis eros in leo ultrices rhoncus eget non tortor. Quisque
          porta sem eget enim consectetur elementum. Vivamus bibendum felis non
          laoreet auctor. Fusce auctor nisl quis sodales gravida. Aenean et
          viverra magna. Nulla gravida erat in odio viverra eleifend. Donec sit
          amet purus est. Praesent dictum magna ac ipsum tincidunt, ut elementum
          augue rutrum. Aliquam vel est magna. Pellentesque lorem libero,
          finibus a molestie vel, placerat in eros. Praesent tincidunt diam
          vitae ex scelerisque, at ullamcorper erat efficitur. Aenean ac ante
          tellus.
        </p>
      </div>
    </main>
  </body>
</html>
