<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/error.css" />
    <title>Error</title>
  </head>
  <body>
    <header>
      <p>404 NOT FOUND</p>
    </header>
    <main>
      <div class="container">
        <img src="images/Scarecrow.png">
        <div class="container-text">
          <h1>J'ai une mauvaise <br> nouvelle pour toi</h1>
          <p>La page que tu recherches<br>peut être supprimée ou est<br>temporairement indisponible</p>
          <a href="/home">Retour à l'accueil</a>
        </div>
      </div>
    </main>
  </body>
</html>
