<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/error.css" />
    <title>Error</title>
  </head>
  <body>
    <header>
      <p>401 Unauthorized</p>
    </header>
    <main>
      <div class="container">
        <img src="images/Scarecrow.png">
        <div class="container-text">
          <h1>J'ai une mauvaise <br> nouvelle pour toi</h1>
          <p>Tu n'est pas autorisé<br>à accéder à cette page</p>
          <a href="/login">Retour à la connexion</a>
        </div>
      </div>
    </main>
  </body>
</html>
