/* root */

:root {
  --primary: #97cb4c;
  --body-bg: #145a32;
  --nav-bg: #196f3d;
}

/* fonts */

@font-face {
  font-family: Inconsolata;
  src: url(../fonts/Inconsolata-Regular.ttf);
}

@font-face {
  font-family: SpaceMono;
  src: url(../fonts/SpaceMono-Regular.ttf);
}

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

/* styles */

html {
  font-family: SpaceMono;
}

body {
  background-color: var(--body-bg);
  margin: 0;
  font-size: 1.25rem;
  color: white;
  overflow: hidden;
}

main {
  width: calc(100vw - 295px);
  height: 100vh;
  display: grid;
  place-items: center;
  position: absolute;
  left: 295px;
}

h1 {
  font-size: 2vw;
  color: black;
  text-align: center;
}

nav {
  background: var(--nav-bg);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  gap: 1rem;
}

.nav-list a {
  display: block;
  display: flex;
  align-items: center;
}

.nav-list a > img {
  margin-right: 10px;
}

.nav-list li {
  padding-block: 1rem;
  padding-inline: 2rem;
  margin-inline: 1rem 0;
  /* prevent animation glitch on right side */
  box-shadow: 2px 0 0 var(--body-bg);
}

.nav-list li.active {
  /* view-transition-name: nav; */
  display: block;
  background: var(--body-bg);
  position: relative;
  z-index: -1;
  border-radius: 100vw 0 0 100vw;
}

::view-transition-group(nav) {
  animation-duration: 1s;
}

.nav-list li.active::before,
.nav-list li.active::after {
  --border-radius: 1rem;

  content: "";
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  right: 0rem;
  background: var(--nav-bg);
}

.nav-list li.active::before {
  border-radius: 0 0 var(--border-radius);
  top: calc(var(--border-radius) * -1);
  box-shadow: 5px 5px 0 5px var(--body-bg);
}

.nav-list li.active::after {
  border-radius: 0 var(--border-radius) 0 0;
  bottom: calc(var(--border-radius) * -1);
  box-shadow: 5px -5px 0 5px var(--body-bg);
}

.nav-list li:nth-child(1) a {
  view-transition-name: test;
}

.nav-list li:nth-child(2) a {
  view-transition-name: test-2;
}

.nav-list li:nth-child(3) a {
  view-transition-name: test-3;
}

.disable {
  display: none;
}

.join {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.join h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.form-input {
  margin: 20px 0px;
  width: 100%;
  text-align: center;
}

.form-input label {
  margin-bottom: 15px;
  display: block;
}

.form-input input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #555;
}

.form-input button {
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  background-color: var(--primary);
  border: none;
}

.messages {
  width: 100%;
  max-height: 50%;
  overflow-y: auto;
  padding: 0 10%;
}

.messages .message {
  display: flex;
  padding: 10px;
}

.messages .message > div {
  max-width: 80%;
  background-color: #fff;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
  padding: 10px;
}

.messages .message > .me {
  justify-content: flex-end;
}

.messages .message > .other {
  justify-content: flex-start;
}

.messages .message .name {
  font-size: 13px;
  color: #555;
  margin-bottom: 5px;
}

.messages .message .text {
  word-wrap: break-word;
}

.messages .notif {
  text-align: center;
  padding: 10px;
  font-style: italic;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#btnSend {
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
  display: grid;
  place-items: center;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages > li {
  padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
  background: black;
}

.datas-links > ul > li > ul {
  display: none;
}

.datas-links > ul {
  display: grid;
  gap: 20px;
  padding: 0;
}

.datas-links a::before,
.datas-links p::before {
  content: "->";
  margin-right: 10px;
}

.datas-links a,
.datas-links p {
  width: fit-content;
}

.datas-links a:hover,
.datas-links p:hover {
  border-bottom: 3px solid white;
  cursor: pointer;
}
