<nav>
  <ul class="nav-list">
    {% for page in pages %}
    <li {% if page.url == activePage %}class="active" aria-current="page" {% endif %}>
        {% set icon = '' %}
        {% if page.name == 'Accueil' %}
          {% set icon = 'icons/home.svg' %}
        {% elseif page.name == 'Messagerie' %}
          {% set icon = 'icons/chat.svg' %}
        {% elseif page.name == 'Se déconnecter' %}
          {% set icon = 'icons/logout.svg' %}
        {% elseif page.name == 'Télécharger' %}
          {% set icon = 'icons/file-download.svg' %}
        {% elseif page.name == 'Not Found' %}
          {% set icon = 'icons/error-404.svg' %}
        {% elseif page.name == 'API' %}
          {% set icon = 'icons/api.svg' %}
        {% endif %}
      <a href="{{ page.url }}">
        {% if icon %}
          <img src="{{ icon }}">
        {% endif %}
        {{ page.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
